 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 275px;
}

.u-section-1 .u-image-1 {
  width: 291px;
  height: 97px;
  margin: 23px 0 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -74px auto 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-style: italic;
  margin: 21px 460px 45px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 4px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -56px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 43px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 75px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -127px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 35px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 392px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  margin: 20px 0 0 auto;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  margin: 20px 0 20px 460px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 168px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  margin: 20px 460px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 224px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  margin: 20px auto 0 658px;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  margin: 20px 0 20px 460px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 543px;
  }

  .u-section-4 .u-text-2 {
    width: 680px;
    margin-left: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 416px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 312px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 196px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 925px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 24px auto 0 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  font-style: italic;
  margin: 17px 460px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    width: 680px;
    margin-right: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}