 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("https://assets.nicepagecdn.com/34c8e875/4885912/images/262393066_1080542066015617_912608438920446156_n1.png");
  background-position: 50% 20.68%;
}

.u-section-1 .u-sheet-1 {
  min-height: 484px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 484px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 11px 20px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 325px 20px 0 auto;
}

.u-section-1 .u-social-icons-1 {
  height: 47px;
  min-height: 16px;
  width: 332px;
  min-width: 146px;
  margin: -47px 172px 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-icon-6 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 57.69% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 88.4% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 15px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 70px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  width: 717px;
  font-weight: 700;
  margin: 15px auto;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 658px;
}

.u-section-3 .u-group-1 {
  min-height: 658px;
  width: 936px;
  height: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  width: 717px;
  margin: 19px auto 0;
}

.u-section-3 .u-line-1 {
  width: 57px;
  height: 4px;
  transform-origin: left center 0px;
  margin: 19px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 46px 64px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 27px auto 0;
  padding: 10px 37px 10px 36px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-group-1 {
    position: relative;
    min-height: 315px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    width: 591px;
  }

  .u-section-3 .u-line-1 {
    width: 47px;
    position: relative;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-3 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    min-height: 553px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    width: 453px;
  }

  .u-section-3 .u-line-1 {
    width: 36px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 31px;
    margin-right: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-3 .u-group-1 {
    min-height: 587px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    width: 425px;
  }

  .u-section-3 .u-line-1 {
    width: 34px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 27px;
    margin-left: 28px;
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-3 .u-group-1 {
    min-height: 797px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-line-1 {
    width: 28px;
    transform-origin: right center 0;
  }

  .u-section-3 .u-text-2 {
    width: 268px;
    margin-left: 36px;
    margin-right: 36px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1128px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("https://assets.nicepagecdn.com/34c8e875/4885912/images/ac637c_7239be5f645f45ed9ea428e07d71946e_mv2.png");
  min-height: 482px;
  background-position: 50% 20.14%;
}

.u-section-4 .u-shape-1 {
  position: relative;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 596px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-4 .u-image-2 {
  width: 455px;
  height: 714px;
  object-position: 49.14% 50%;
  background-position: 2.87% 50%;
  margin: -143px 30px 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 596px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-4 .u-text-1 {
  margin: 45px 20px 0 0;
}

.u-section-4 .u-line-1 {
  width: 57px;
  position: relative;
  height: 4px;
  transform-origin: left center 0;
  margin: 38px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 45px 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-image-1 {
    min-height: 511px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 639px;
  }

  .u-section-4 .u-image-2 {
    position: relative;
    object-position: 2.87% 50%;
    width: 439px;
    height: 689px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 639px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-4 .u-line-1 {
    width: 47px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-4 .u-btn-3 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1488px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 775px;
  }

  .u-section-4 .u-image-2 {
    width: 336px;
    height: 527px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 775px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-4 .u-line-1 {
    width: 36px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1959px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 729px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-4 .u-line-1 {
    width: 34px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1703px;
  }

  .u-section-4 .u-image-1 {
    min-height: 308px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 840px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-4 .u-line-1 {
    width: 28px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 6px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 379px;
}

.u-section-5 .u-shape-1 {
  height: 283px;
  width: 1002px;
  margin: 48px auto 0;
}

.u-section-5 .u-video-1 {
  height: 239px;
  width: 424px;
  margin: -260px auto 0 101px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-5 .u-video-2 {
  height: 239px;
  width: 424px;
  margin: -238px 101px 70px auto;
}

.u-section-5 .embed-responsive-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-shape-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-shape-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-shape-1 {
    width: 540px;
  }

  .u-section-5 .u-video-1 {
    height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
  }

  .u-section-5 .u-video-1 {
    height: 190px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-video-2 {
    height: 191px;
    margin-top: -190px;
    width: 340px;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1228px;
}

.u-section-6 .u-group-1 {
  min-height: 104px;
  width: 936px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  width: 717px;
  margin: 33px auto 0;
}

.u-section-6 .u-line-1 {
  width: 57px;
  height: 4px;
  transform-origin: left center 0px;
  margin: 21px auto 0;
}

.u-section-6 .u-shape-1 {
  height: 1028px;
  width: 1048px;
  margin: 20px auto 0 46px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 961px;
  margin: -972px auto 60px;
}

.u-section-6 .u-image-1 {
  background-image: url("https://assets.nicepagecdn.com/34c8e875/4885912/images/ac637c_28df9d44130348949950db76a5e94117.png");
  min-height: 955px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-2 {
  background-image: url("https://assets.nicepagecdn.com/34c8e875/4885912/images/ac637c_254f7bcaf46d4427a87b4bcd7d2f9abb_mv2.png");
  min-height: 637px;
  background-position: 100% 13.86%;
  background-size: 120%;
}

.u-section-6 .u-image-3 {
  background-image: url("https://assets.nicepagecdn.com/34c8e875/4885912/images/ac637c_7239be5f645f45ed9ea428e07d71946e_mv2.png");
  min-height: 318px;
  background-position: 96.44% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 0;
}

.u-section-6 .u-image-4 {
  background-image: url("https://assets.nicepagecdn.com/34c8e875/4885912/images/240192997_242470134552187_2198218165946089553_n1.jpg");
  min-height: 318px;
  background-position: 100% 40.86%;
  background-size: auto 175%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-6 .u-group-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    position: relative;
  }

  .u-section-6 .u-line-1 {
    position: relative;
  }

  .u-section-6 .u-shape-1 {
    width: 864px;
    position: relative;
    margin-left: 38px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-6 .u-image-1 {
    min-height: 934px;
  }

  .u-section-6 .u-image-2 {
    min-height: 623px;
  }

  .u-section-6 .u-image-3 {
    min-height: 311px;
  }

  .u-section-6 .u-image-4 {
    min-height: 311px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-shape-1 {
    width: 662px;
    margin-left: 29px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-image-1 {
    min-height: 1431px;
  }

  .u-section-6 .u-image-2 {
    min-height: 954px;
  }

  .u-section-6 .u-image-3 {
    min-height: 476px;
  }

  .u-section-6 .u-image-4 {
    min-height: 476px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2795px;
  }

  .u-section-6 .u-group-1 {
    min-height: 252px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-shape-1 {
    height: 2299px;
    width: 470px;
    margin-left: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -2258px;
    margin-bottom: 214px;
    width: 540px;
  }

  .u-section-6 .u-image-1 {
    min-height: 1073px;
  }

  .u-section-6 .u-image-2 {
    min-height: 716px;
  }

  .u-section-6 .u-image-3 {
    min-height: 714px;
  }

  .u-section-6 .u-image-4 {
    min-height: 714px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2695px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-6 .u-shape-1 {
    height: 2309px;
    width: 300px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -2268px;
    margin-bottom: 60px;
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    min-height: 676px;
  }

  .u-section-6 .u-image-2 {
    min-height: 451px;
  }

  .u-section-6 .u-image-3 {
    min-height: 450px;
  }

  .u-section-6 .u-image-4 {
    min-height: 450px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 488px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  width: 325px;
  margin: 10px auto 0;
}

.u-section-7 .u-shape-1 {
  height: 380px;
  width: 632px;
  margin: 15px auto 0;
}

.u-section-7 .u-custom-html-1 {
  height: auto;
  min-height: 322px;
  width: 570px;
  margin: -351px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    width: 717px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-shape-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-custom-html-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-7 .u-shape-1 {
    width: 340px;
  }

  .u-section-7 .u-custom-html-1 {
    width: 340px;
  }
}