 .u-section-1 {
  background-image: url("https://assets.nicepagecdn.com/34c8e875/4885912/images/Screenshot2022-09-08165827.png");
  background-position: 50% 17.35%;
}

.u-section-1 .u-sheet-1 {
  min-height: 647px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 813px;
  margin: 487px 0 11px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 169px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 43px 23px 0 400px;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 0 23px 0 320px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 37px;
  min-height: 16px;
  width: 177px;
  min-width: 114px;
  margin: 5px 23px 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 37px;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 533px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 330px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 788px;
}

.u-section-2 .u-text-1 {
  width: 376px;
  margin: 15px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 0 auto;
}

.u-section-2 .u-image-1 {
  width: 876px;
  height: 597px;
  margin: 15px auto 30px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 491px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 368px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 232px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 192px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-text-2 {
  margin: 0 362px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 162px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 192px;
}

.u-section-4 .u-text-1 {
  margin: 20px 0 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 0 0 20px 362px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-left: 162px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
  }
}.invert100 {
}