 .u-section-1 {
  background-image: url("https://assets.nicepagecdn.com/34c8e875/4885912/images/3PSDropShadow-Title1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 194px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 123px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 92px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 58px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 408px;
}

.u-section-2 .u-text-1 {
  width: 121px;
  margin: 24px auto 0;
}

.u-section-2 .u-image-1 {
  width: 247px;
  height: 247px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 11px auto 24px;
}.u-section-3 .u-sheet-1 {
  min-height: 272px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  width: 380px;
  margin: 24px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 986px;
  margin: 17px auto 44px;
}

.u-section-3 .u-image-1 {
  min-height: 136px;
  background-image: url("https://assets.nicepagecdn.com/34c8e875/4885912/images/MLMWhite.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 136px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 27px;
}

.u-section-3 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 136px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  height: 95px;
  width: 87px;
  margin: 15px auto 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 136px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 27px;
}

.u-section-3 .u-image-4 {
  height: auto;
  margin: 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 136px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 17px;
}

.u-section-3 .u-image-5 {
  width: 78px;
  height: 78px;
  margin: 0 auto;
}

.u-section-3 .u-image-6 {
  min-height: 136px;
  background-image: url("https://assets.nicepagecdn.com/34c8e875/4885912/images/BlackRisingSun.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-image-1 {
    min-height: 130px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-3 .u-image-2 {
    height: NaNpx;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 130px;
  }

  .u-section-3 .u-image-3 {
    height: 117px;
    width: 105px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 130px;
  }

  .u-section-3 .u-image-4 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 130px;
  }

  .u-section-3 .u-image-5 {
    width: 98px;
    height: 98px;
  }

  .u-section-3 .u-image-6 {
    min-height: 130px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 118px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 242px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    height: 88px;
    width: 79px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-image-5 {
    width: 79px;
    height: 79px;
  }

  .u-section-3 .u-image-6 {
    min-height: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1249px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 450px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 450px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 450px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 450px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    min-height: 275px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 173px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 237px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 229px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 283px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 229px;
  }

  .u-section-3 .u-image-6 {
    min-height: 173px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 488px;
}

.u-section-4 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 40px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 227px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  height: 253px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 106px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-4 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 23px auto 0;
  padding: 8px 85px 9px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 106px;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-4 .u-btn-2 {
  background-image: linear-gradient(to right, #64004c, #fb01bf);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 21px auto 0;
  padding: 8px 63px 9px 61px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 106px;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px 30px;
}

.u-section-4 .u-btn-3 {
  background-image: linear-gradient(to right, #41e6ff, #f0ff00);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 21px 0 0;
  padding: 8px 29px 9px 28px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 187px;
  }

  .u-section-4 .u-image-1 {
    height: 209px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 87px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 87px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 143px;
  }

  .u-section-4 .u-image-1 {
    height: 160px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 107px;
  }

  .u-section-4 .u-image-1 {
    height: 120px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 67px;
  }

  .u-section-4 .u-image-1 {
    height: 76px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 166px;
}

.u-section-5 .u-group-elements-1 {
  width: 803px;
  min-height: 130px;
  margin: 18px auto;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  padding: 0;
}

.u-section-5 .u-icon-1 {
  font-size: 1.6667em;
  vertical-align: -6px;
  margin-left: 5px;
}

.u-section-5 .u-text-2 {
  margin: 0 auto 0 102px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  padding: 0;
}

.u-section-5 .u-icon-2 {
  font-size: 1.8056em;
  margin-left: 0;
  vertical-align: -11px;
}

@media (max-width: 991px) {
  .u-section-5 .u-group-elements-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 619px;
}

.u-section-6 .u-text-1 {
  margin: 20px 73px 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 889px;
  height: 421px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 341px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 256px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 161px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://assets.nicepagecdn.com/34c8e875/4885912/images/167319589_10158312162079065_3692742439013185626_n.jpg");
}

.u-section-7 .u-sheet-1 {
  min-height: 830px;
}

.u-section-7 .u-group-elements-1 {
  width: 570px;
  min-height: 564px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-7 .u-text-1 {
  text-shadow: 0 7px 12px rgba(0,0,0,1);
  margin: 0 auto 0 1px;
}

.u-section-7 .u-text-2 {
  text-shadow: 0px 3px 2px rgba(0,0,0,1);
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-position: 50% 30%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-7 .u-group-elements-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 524px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 393px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-7 .u-group-elements-1 {
    width: 340px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://assets.nicepagecdn.com/34c8e875/4885912/images/2unknown.png");
}

.u-section-8 .u-sheet-1 {
  min-height: 650px;
}

.u-section-8 .u-group-elements-1 {
  width: 570px;
  min-height: 341px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 149px 0 0 auto;
}

.u-section-8 .u-text-1 {
  text-shadow: 0 7px 12px rgba(0,0,0,1);
  margin: 0 0 0 auto;
}

.u-section-8 .u-text-2 {
  text-shadow: 0px 3px 2px rgba(0,0,0,1);
  margin: 1px 0 0;
}

@media (max-width: 1199px) {
   .u-section-8 {
    background-position: 50% 50%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-8 .u-group-elements-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 411px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 308px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-8 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 785px;
}

.u-section-9 .u-text-1 {
  margin: 38px auto 0;
}

.u-section-9 .u-custom-html-1 {
  height: auto;
  min-height: 607px;
  width: 800px;
  margin: 38px auto 60px;
}

@media (max-width: 991px) {
  .u-section-9 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-custom-html-1 {
    width: 340px;
  }
}