 .u-section-1 {
  background-image: url("../../images/backgroundfrost-166.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 1108px;
}

.u-section-1 .u-image-1 {
  height: 250px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 100%;
}

.u-section-1 .u-group-1 {
  min-height: 802px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 34px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 25px;
}

.u-section-1 .u-image-2 {
  width: 223px;
  height: 223px;
  margin: -44px 420px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  text-shadow: 0 0 40px rgba(128,128,128,1);
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 8px 8px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1146px;
  }

  .u-section-1 .u-image-2 {
    background-position: 50% 50%;
    margin-left: 329px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1303px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 17px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-left: 219px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1456px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 23px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 297px;
    margin-left: 149px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1462px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 40px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 17px 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 60px;
  }
} .u-section-2 {
  background-image: url("../../images/backgroundfrost-166.png");
}

.u-section-2 .u-sheet-1 {
  min-height: 533px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 507px;
  height: auto;
  width: 971px;
  margin: 13px auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 0;
    margin-bottom: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }
}