 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 801px;
}

.u-section-1 .u-image-1 {
  width: 454px;
  height: 719px;
  margin: 41px auto 0 178px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  line-height: 0.8;
  letter-spacing: -3px;
  margin: -469px 182px 0 494px;
}

.u-section-1 .u-text-2 {
  margin: 17px 202px 0 514px;
}

.u-section-1 .u-image-2 {
  width: 150px;
  height: 150px;
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  margin: -361px auto 0 103px;
}

.u-section-1 .u-image-3 {
  width: 158px;
  height: 158px;
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  margin: 221px 429px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 106px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -494px;
    margin-right: 82px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 102px;
    margin-left: 414px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -302px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 256px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 296px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 86px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 76px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 116px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 382px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 538px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -313px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -378px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 182px;
  }
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.2) rotate(-26deg) !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.2) rotate(-26deg) !important;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.2) rotate(26deg) !important;
  border-radius: 50px !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.2) rotate(26deg) !important;
  border-radius: 50px !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 743px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 30px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 723px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 51px 27px;
}

.u-section-2 .u-text-1 {
  margin: 42px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 60px 9px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 723px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-1 {
  object-position: 50% 34.16%;
  margin-top: 0;
  margin-bottom: 0;
  height: 683px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 34.16%;
    min-height: 596px;
  }

  .u-section-2 .u-image-1 {
    height: 549px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 457px;
  }

  .u-section-2 .u-image-1 {
    height: 402px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 686px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 697px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-2 .u-image-1 {
    height: 429px;
  }
}

.u-block-5ab2-15:not([data-block-selected]) {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-block-5ab2-15:not([data-block-selected]):hover {
  transform: scale(1.2) rotate(26deg) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 50px !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1057px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 3.75rem;
  font-weight: 900;
  padding: 0;
}

.u-section-3 .u-text-2 {
  margin: -15px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 17px 17px;
  grid-template-columns: calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px);
  min-height: 214px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 0 0;
}

.u-section-3 .u-image-1 {
  box-shadow: 0 26px 0 rgba(0,0,0,0);
  height: 134px;
  width: 210px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 0 0;
}

.u-section-3 .u-image-2 {
  box-shadow: 0 26px 0 rgba(0,0,0,0);
  height: 134px;
  width: 210px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 0 0;
}

.u-section-3 .u-image-3 {
  box-shadow: 0 26px 0 rgba(0,0,0,0);
  height: 134px;
  width: 210px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-3 .u-video-1 {
  width: 680px;
  height: 676px;
  margin: 15px auto 0;
}

.u-section-3 .u-image-4 {
  width: 118px;
  height: 118px;
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  margin: -691px -48px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 271px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 176px;
  }

  .u-section-3 .u-image-1 {
    width: 194px;
    height: 136px;
    margin-top: 10px;
    transition-duration: 0.5s;
    filter: brightness(0.95);
  }

  .u-section-3 .u-image-2 {
    width: 194px;
    height: 136px;
    margin-top: 10px;
    transition-duration: 0.5s;
    filter: brightness(0.95);
  }

  .u-section-3 .u-image-3 {
    width: 194px;
    height: 136px;
    margin-top: 10px;
    transition-duration: 0.5s;
    filter: brightness(0.95);
    object-position: 40.65% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 208px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 8.49997px) calc(50% - 8.49997px);
    min-height: 404px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
    margin-left: 156px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-video-1 {
    width: 540px;
    height: 537px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -552px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-3 .u-text-1 {
    margin-left: auto;
  }

  .u-section-3 .u-video-1 {
    width: 340px;
    height: 338px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -353px;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 0 2px 25px 0 rgba(0,0,0,1) !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 0 2px 25px 0 rgba(0,0,0,1) !important;
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before,
.u-section-3 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 0 2px 25px 0 rgba(0,0,0,1) !important;
}

.u-section-3 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 0 2px 25px 0 rgba(0,0,0,1) !important;
}

.u-block-c450-19:not([data-block-selected]) {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-block-c450-19:not([data-block-selected]):hover {
  box-shadow: 0 2px 25px 0 rgba(0,0,0,1) !important;
}

.u-section-3 .u-image-3,
.u-section-3 .u-image-3:before,
.u-section-3 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-3.u-image-3.u-image-3:hover {
  box-shadow: 0 2px 25px 0 rgba(0,0,0,1) !important;
}

.u-section-3 .u-image-3.u-image-3.u-image-3.hover {
  box-shadow: 0 2px 25px 0 rgba(0,0,0,1) !important;
}

.u-section-3 .u-image-4,
.u-section-3 .u-image-4:before,
.u-section-3 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.2) rotate(26deg) !important;
  border-radius: 50px !important;
}

.u-section-3 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.2) rotate(26deg) !important;
  border-radius: 50px !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 607px;
}

.u-section-4 .u-custom-html-1 {
  min-height: 507px;
  height: auto;
  margin: 40px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 262px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 9px auto 0;
}

.u-section-5 .u-list-1 {
  width: 685px;
  margin: 0 auto 16px;
}

.u-section-5 .u-repeater-1 {
  min-height: 180px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-image-1 {
  width: 100px;
  height: 100px;
  margin: 18px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 9px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  width: 100px;
  height: 100px;
  margin: 18px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 9px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  width: 100px;
  height: 100px;
  object-position: 100% 0%;
  margin: 18px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 9px auto 0;
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    min-height: 540px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 545px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  text-align: start;
  margin: 16px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 0 auto;
}

.u-section-6 .u-layout-wrap-1 {
  width: 940px;
  margin: 11px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 143px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 28px;
}

.u-section-6 .u-image-1 {
  height: 90px;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 143px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-6 .u-image-2 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 143px;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-6 .u-image-3 {
  height: 80px;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 143px;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-6 .u-image-4 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 143px;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-6 .u-image-5 {
  height: 113px;
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 144px;
}

.u-section-6 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-6 .u-image-6 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-7 {
  min-height: 287px;
}

.u-section-6 .u-container-layout-7 {
  padding: 29px 30px;
}

.u-section-6 .u-image-7 {
  height: 220px;
  width: 220px;
  margin: 2px auto -1px;
}

.u-section-6 .u-image-8 {
  width: 107px;
  height: 107px;
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  margin: -430px 51px 0 auto;
}

.u-section-6 .u-image-9 {
  width: 119px;
  height: 119px;
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  margin: 179px auto 32px 12px;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1213px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-6 .u-image-1 {
    height: 64px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 110px;
  }

  .u-section-6 .u-image-2 {
    height: 67px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 164px;
  }

  .u-section-6 .u-image-3 {
    height: 97px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 164px;
  }

  .u-section-6 .u-image-4 {
    height: 109px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 164px;
  }

  .u-section-6 .u-image-5 {
    height: 137px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 165px;
  }

  .u-section-6 .u-image-6 {
    height: 105px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 659px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1807px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 248px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 181px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 124px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 83px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 369px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 280px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 369px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    height: 315px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 369px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-5 {
    height: 396px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 124px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-6 {
    height: 83px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 494px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1180px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 156px;
  }

  .u-section-6 .u-image-1 {
    height: 111px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 78px;
  }

  .u-section-6 .u-image-2 {
    height: 51px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 232px;
  }

  .u-section-6 .u-image-3 {
    height: 172px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 232px;
  }

  .u-section-6 .u-image-4 {
    height: 194px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 232px;
  }

  .u-section-6 .u-image-5 {
    height: 244px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 78px;
  }

  .u-section-6 .u-image-6 {
    height: 51px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 311px;
  }
}

.u-section-6 .u-image-8,
.u-section-6 .u-image-8:before,
.u-section-6 .u-image-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-image-8.u-image-8.u-image-8:hover {
  transform: scale(1.2) rotate(26deg) !important;
  border-radius: 50px !important;
}

.u-section-6 .u-image-8.u-image-8.u-image-8.hover {
  transform: scale(1.2) rotate(26deg) !important;
  border-radius: 50px !important;
}

.u-section-6 .u-image-9,
.u-section-6 .u-image-9:before,
.u-section-6 .u-image-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-image-9.u-image-9.u-image-9:hover {
  transform: scale(1.2) rotate(-26deg) !important;
}

.u-section-6 .u-image-9.u-image-9.u-image-9.hover {
  transform: scale(1.2) rotate(-26deg) !important;
}