 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 719px;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 608px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 638px;
  height: 624px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -580px 32px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 140px;
  min-height: 75px;
  margin: -47px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 16px;
  padding-bottom: 0;
}

.u-section-1 .u-link-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px 36px 0 auto;
}

.u-section-1 .u-link-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-group-2 {
  width: 343px;
  min-height: 147px;
  margin: -623px auto 0 14px;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 4.11765rem;
  margin: 0 11px 0 0;
}

.u-section-1 .u-group-3 {
  width: 397px;
  min-height: 347px;
  margin: 0 auto 60px 0;
}

.u-section-1 .u-container-layout-3 {
  padding-top: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-line-2 {
  width: 58px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 5px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-link-1 {
    position: relative;
  }

  .u-section-1 .u-group-2 {
    margin-top: -573px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 152px;
  }

  .u-section-1 .u-image-1 {
    object-position: 57.77% 50%;
    background-position: 57.77% 50%;
    width: 295px;
    height: 531px;
    margin-top: -134px;
    margin-right: 28px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -113px;
    margin-left: 17px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 13px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -493px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 7px;
  }

  .u-section-1 .u-group-3 {
    min-height: 267px;
    margin-top: 4px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.882353rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -539px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 253px;
    margin-left: 11px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 0;
  }

  .u-section-1 .u-link-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-link-2 {
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: -885px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.64706rem;
    margin-right: 5px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 421px;
    margin-bottom: -567px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 6px;
    padding-left: 0;
  }

  .u-section-1 .u-link-1 {
    margin-top: 14px;
    margin-left: 8px;
  }

  .u-section-1 .u-link-2 {
    margin-top: 3px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.23529rem;
    margin-right: 3px;
  }

  .u-section-1 .u-group-3 {
    min-height: 239px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 1px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    margin-top: 96px;
    margin-bottom: -81px;
    margin-left: 9px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 764px;
}

.u-section-2 .u-image-1 {
  width: 993px;
  height: 444px;
  object-position: 50% 98.68%;
  background-position: 50% 0%;
  margin: 0 0 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -764px auto 0;
}

.u-section-2 .u-image-2 {
  min-height: 490px;
  background-image: url("../../images/376114_10150429134674065_428068555_n.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-3 {
  background-image: url("../../images/562255_10150907873064065_1267278556_n.jpg");
  min-height: 490px;
  background-position: 50% 50%;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 490px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 35px;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  margin: 20px 20px 0 0;
}

.u-section-2 .u-line-1 {
  width: 58px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 39px 20px 50px 0;
}

.u-section-2 .u-image-4 {
  width: 814px;
  height: 281px;
  margin: 1px 0 -320px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 420px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 404px;
  }

  .u-section-2 .u-image-3 {
    min-height: 404px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 404px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 322px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 50px;
  }

  .u-section-2 .u-image-2 {
    min-height: 309px;
  }

  .u-section-2 .u-image-3 {
    min-height: 309px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-2 .u-image-4 {
    width: 720px;
    height: 249px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1281px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 242px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 377px;
    background-position: 50% 14.71%;
  }

  .u-section-2 .u-image-3 {
    min-height: 378px;
    background-position: 50% 12.61%;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 217px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 187px;
    margin-top: -50px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1244px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 152px;
  }

  .u-section-2 .u-image-2 {
    min-height: 318px;
  }

  .u-section-2 .u-image-3 {
    min-height: 317px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 479px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 5px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 10px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-4 {
    height: 118px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 498px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: -128px auto 40px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 596px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 55px;
  padding-right: 59px;
}

.u-section-3 .u-text-1 {
  margin: 45px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 30px 0 45px;
}

.u-section-3 .u-image-1 {
  min-height: 596px;
  background-image: url("../../images/167319589_10158312162079065_3692742439013185626_n.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 49px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 534px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -104px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 37px;
  }

  .u-section-3 .u-image-1 {
    min-height: 376px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1098px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 28px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 45px;
  }

  .u-section-3 .u-image-1 {
    min-height: 564px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 624px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 18px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 355px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 694px;
}

.u-section-4 .u-image-1 {
  width: 440px;
  height: 440px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-image-2 {
  width: 700px;
  height: 431px;
  object-position: 50% 10.3%;
  margin: -440px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 416px;
  min-height: 218px;
  height: auto;
  margin: 20px auto 26px 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 20px 0 0;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 14px 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-top: 189px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -528px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 251px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 50px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -706px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 332px;
    margin-top: 413px;
  }

  .u-section-4 .u-group-1 {
    min-height: 297px;
    margin-top: 714px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 59px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 319px;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 209px;
    margin-top: -961px;
  }

  .u-section-4 .u-group-1 {
    min-height: 296px;
    margin-top: 201px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 65px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 65px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 664px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
  background-image: url("../../images/64477457_344612769490728_4578382086099959808_n.jpg");
  min-height: 664px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 664px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 70px;
  padding-right: 80px;
}

.u-section-5 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 14px 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 548px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 58px;
    padding-right: 66px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 531px;
  }

  .u-section-5 .u-image-1 {
    min-height: 531px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 674px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 44px;
    padding-right: 51px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 33px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 777px;
  }

  .u-section-5 .u-image-1 {
    min-height: 558px;
  }

  .u-section-5 .u-layout-cell-2 {
    width: 640px;
    margin-right: auto;
    margin-left: auto;
    min-height: 219px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 51px;
    padding-right: 24px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 26px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 11px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 808px;
  }

  .u-section-5 .u-image-1 {
    min-height: 577px;
  }

  .u-section-5 .u-layout-cell-2 {
    width: 440px;
    min-height: 231px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 1px;
  }
}